a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* GLOBAL STYLES */

/* STYLE STRIPPING */
*,
figure {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Catamaran', sans-serif;
    color: #1F2022;
    font-size: 1.8rem;
}

.cursive {
    font-family: 'Pacifico', cursive;
}

.fontColour {
    color: #F2A11C;
}

.aboutSection p,
.missionSection p,
.meetSection p {
    line-height: 2.5rem;
    margin: 2rem 0 3rem;
}

h2 {
    font-size: 4rem;
}

li {
    list-style: none;
}

/* nav li {
    display: inline-block;
} */

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.btn {
    padding: 10px 25px;
    background-color: #1F2022;
    color: #F2A11C;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    border: 2px solid transparent;
}

.btn:hover,
.btn:focus {
    color:  #FFF;
    border: 2px solid #F2A11C;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

.headerNav i.fa-bars,
input[for="toggle"] {
	display: none;
}

/* skip to main content link style */
.skip-link {
    position: absolute;
    left: -1000px;
    z-index: 999;
    background-color: white;
    color: black;
}

.skip-link:focus {
    left: 0;
}

/* STYLES BEGINS HERE */

/* HEADER STYLE BEGINS */
header {
    background: url(../biker-land-assets/image-1.jpg) no-repeat center;
    min-height: 90vh;
    background-size: cover;
    padding-top: 25px;
}

/* NAV STYLE */
.headerNav li {
    float: left;
}

.table {
    display: table;
    margin: 0 auto;
}

.headerNav li,
footer li {
    margin: 0 22px;
}    

header a,
footer a,
.copyright {
    color: #FFF;
    font-size: 1.8rem;
}

nav a:hover,
nav a:focus {
    color: #F2A11C;
}

.mainTitle {
    margin-top: 22rem;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 10rem;
    /* margin-top: 220px; */
    letter-spacing: 4px;
    width: 98%;
    float: left;
}

/* SOCIAL MEDIA LINKS */
aside {
    width: 2%;
    float: right;
}

aside i {
    margin-bottom: 10px;
}

aside i:hover,
aside i:focus {
    color: #FFF;
}

/* use of position */
/* aside {
    position: fixed;
    top: 260px;
    right: 45px;
} */

/* ABOUT & MISSION SECTION*/
.text,
.img {
    width: 50%;
}

.aboutSection .text,
.aboutSection .img {
    float: right;
}

.missionSection .text,
.missionSection .img {
    float: left;
}

.aboutSection .text {
    /* padding: 10rem 4rem 0 7.5%; */
    padding: 8% 4rem 8% 7.5%;
}

.missionSection .text {
    /* padding: 11rem 7% 0 5.5%; */
    padding: 8% 7% 8% 5.5%;

}

.aboutSection img,
.missionSection img {
    height: 48rem;
    object-fit: cover;
}

/* MEET SECTION */
.meetSection {
    background-color: #F4F4F4;
    padding: 80px 0;
    clear: both;
}

.meetSection figure,
.meetText {
    float: left;
}

.meetSection figure {
    margin-right: 15px;
    width: calc(30% - 15px);
}

.meetText {
    margin-left: 15px;
    width: calc(70% - 15px);
}

/* LINKS SECTION */
.linksSection {
    background-image: url(../biker-land-assets/image-5.jpg);
    min-height: 60vh;
    background-size: cover;
    background-position: right center;
    text-align: center;
}

.linksSection ul {
    padding-top: 170px;
}

.linksSection li {
    float: left;
}

.linksSection li:nth-child(2) {
    margin: 0 9rem;
}

i.fa-bicycle,
i.fa-users,
i.fa-phone {
    padding-bottom: 2.5rem;
    font-size: 3.3rem;
    color: #FFF;
}

.linksSection p {
    letter-spacing: 1px;
}

/* GRAM SECTION */
.gram {
    background-color: #F4F4F4;
    padding: 60px 0 40px;
}

.gram h2 {
    text-align: center;
    margin-bottom: 60px;
}

.gram li {
    float: left;
    margin: 0 30px 30px 0;
    width: calc((100% - 60px) / 3);
}

.gram li:nth-child(3n) {
    margin-right: 0px;
}

/* FOOTER */
footer {
    background-color: #1F2022;
    padding-top: 90px;
}

footer a,
.contact p,
label {
    color: #FFF;
}

/* footer nav */
footer nav {
    margin-bottom: 40px;
}

footer li {
    float: left;
}

/* contact info & form */
.contact p,
form p,
label {
    font-size: 1.6rem;
}
.contact {
    width: 30%;
    float: left;
}

footer h3 {
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}

.middle {
    margin: 5px 0;
}

form {
    float: right;
    min-width: 50%;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="email"] {
    padding-left: 10px;
    height: 42px;
    min-width: 75%;
}

input[type="submit"] {
    padding: 8px 25px;
    margin-left: -4.6px;
    border: 2px solid transparent;
    background: #F2A11C;
    color: #1F2022;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    color: #FFF;
    border: 2px solid #FFF;
}

/* copyright */
.copyright {
    background-color: #000;
    padding: 10px 0;
    text-align: center;
    margin-top: 80px;
    font-weight: 200;
}

.copyright,
.copyright a {
    font-size: 1.3rem;
}

.copyright a {
    text-decoration: underline;
}

/* RESPONSIVE DESIGN */
/* Portrait tablet and small desktops */
@media (max-width: 940px) {


/* About Section */




/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
/* header */
h1 {
    font-size: 8rem;
}

.media-links {
    display: none;
}

/* hamburger menu slide-out */
ul.slideOut-menu li {
    float: none;
}

ul.slideOut-menu {
    background: #4A4A4A; 
	position: fixed;
	z-index: 10;
    width: calc(45% + 1vw); 
	right: calc(-45% + (-1vw));
	top: 80px;
    height: calc(54% + 1vw);
    transition: all 0.5s;
}

ul.slideOut-menu a {
	display: inline-block;
    font-size: 3.5rem;
    padding: 15px 5px;
    width: 100%;
	transition: all 0.1s;
}

.headerNav label i.fa-bars{
    display: block;
    font-size: 3.5rem;
    color: #FFF;
}

input:checked + ul.slideOut-menu {
    right: 0px;  
}

label[for="toggle"] {
    display: block;
	position: fixed;
	top: 10px;
    right: 15px;
    z-index: 10;
    cursor: pointer;
}	

input[for="toggle"]{
    position: fixed;
    right: 7px;
}

/* About & Mission Section */
.aboutSection,
.missionSection {
    text-align: center;
}

.text {
    padding: 3rem 0;
}

.text, 
.img {
    float: none;
    width: 100%;
}

.aboutSection img,
.missionSection img {
    height: 85%;
}














}		

/* Landscape phones and down */
@media (max-width: 480px) {

.wrapper {
    width: 95%;
}

/* header */
header {
    background-image: url(../biker-land-assets/image-9.jpg);
    min-height: 90vh;
}

.mainTitle {
    margin-top: 16rem;
}

h1 {
    font-size: 6rem;
}

}




